/* ==========================================================================
   Custom CSS for Zombies Reimagined Project
   Nabil Kashyap
   Roberto Vargas
   ========================================================================== */

span.rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#site-footer p.copyright{
    font-size: 1.1em;
}

.page-title {
    color: $red;
}

.footnotes ol {
    list-style: $red;
}

a.footnote {

    color: $red;
    font-size: 1.3em;
}

.sliding-menu-content li{
  height: 150px;
}

.sliding-menu-content li img.teaser{
  height: 100%;
}

.sliding-menu-content .menu-item li a .excerpt-authors{
  margin-top: 0;
      margin-left: 60px;
      @include font-size(14,no);
      @include media($small) {
        margin-left: 170px;
        font-size: 0.8em;
      }
}

.title .post-teaser a:link {
  text-decoration: none;
}

.inner-wrap {  
  @include media($medium){
    margin-left: 8.5%;
  }
}

iframe {

  @include media($medium){
    width: $max-width;
    margin-left: -11%;
  }

}

.home p, 
.home hr, 
.about p, 
.about hr,
.about h4,
.about ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.home p, 
.home hr{
  font-size: 24px;
  line-height: 32px;
}

.about p, 
.about hr {
  font-size: $doc-font-size;
}

/*
modified css for post-grid images and text
*/

div.tiles {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  
  @include media($large) {
    width: 125%;
    margin-left: -12.5%;
  }

  @include media($medium){
    margin-left: 0;
  }
}

article.tile {
  margin: 0;
  margin-top: 1em;
  height: 250px;
  width: 250px;
  display: flex-item;
  flex-basis: auto;
  background: rgba(0,0,0,.3);
}

.tile a.post-teaser {

  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: rgba($white,.75);
  z-index: 1;

  h2 {
    margin: 0;
    padding: 1em .5em;
    background-color: rgba(0,0,0,.6);
  }

  &:hover h2.post-title{

    color: lighten($red,10);
    position: relative !important;
    z-index: 99 !important;

  }

  &:hover {
    &:after{
      background: linear-gradient(to bottom, rgba($black,.75), rgba($white,0));
    }
  }
}

